<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz9gyim5-mY0PHriIm4T5Lcrl0_3ja4Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>11609221732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petdywold.petdyworld</string>
	<key>PROJECT_ID</key>
	<string>petdyworld</string>
	<key>STORAGE_BUCKET</key>
	<string>petdyworld.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11609221732:ios:1bfe2020446da8383e8d71</string>
</dict>
</plist>